---
import { join } from "path";
import { AstroFont } from "astro-font";

const getFontForSrc = (fontname: string, weight: string, style: string) => {
  return {
    style,
    weight,
    preload: false,
    path: join(process.cwd(), "demo", "public", "fonts", fontname),
  };
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Astro</title>
    <AstroFont
      config={[
        {
          name: "Afacad",
          basePath: join(process.cwd(), "demo", "public"),
          src: [
            {
              preload: true,
              style: 'bold',
              weight: '700',
              path: 'https://fonts.gstatic.com/s/afacad/v1/6NUK8FKMIQOGaw6wjYT7ZHG_zsBBfvLqagk-80KjZfJ_uw.woff2'
            },
            getFontForSrc("Afacad-Medium.ttf", "500", "medium"),
            getFontForSrc("Afacad-Regular.ttf", "400", "normal"),
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>
  <body>Hello world!</body>
</html>
