---
import { AstroFont } from 'astro-font'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Astro</title>
    <AstroFont
      config={[
        {
          src: [],
          // font-name to be used when generating the CSS
          name: 'Press Start 2P',
          // Google Fonts URL
          googleFontsURL: 'https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap',
          // Whether to preload the font in the output HTML
          preload: false,
          // Whether to swap the display
          display: 'swap',
          // Where to apply this whole font (using CSS selector)
          // selector: 'random_stuff',
          // What kind of fallback to use: serif or sans-serif
          fallback: 'sans-serif',
          // emit css variable
          cssVariable: 'random-var-name',
          // cssVariable: true --> emits the default `--astro-font` to the root selector
        },
      ]}
    />
  </head>
  <body>
    <span style="font-family: var(--random-var-name);">Hello world!</span>
    <span style="font-style: italic; font-family: var(--random-var-name);">Hello world!</span>
  </body>
</html>
